@charset "utf-8";
i {
  font-style: normal;
}
.break {
  display: block;
} /*  데스크탑 : block -> 모바일화면 : inline*/
.plump {
} /*  데스크탑 : 속성없음 -> 모바일화면 : block */
.block {
  display: block;
} /*  데스크탑 : block -> 모바일화면 : block */
.creak {
  display: block;
}
@media all and (max-width: 1024px) {
  .m-none {
    display: none;
  }
  .break {
    display: inline;
  }
  .creak {
    display: block;
  }
}
@media all and (max-width: 480px) {
  .plump {
    display: block;
  }
  .block {
    display: block;
  }
  .creak {
    display: inline;
  }
}

/* 스킵네비게이션 */
#skipNavi {
  height: 0;
}
#skipNavi .skipLink {
  position: absolute;
  top: -1000px;
  left: -1000px;
  overflow: hidden;
  z-index: 5000;
}
#skipNavi .skipLink:focus,
#skipNavi .skipLink:active {
  top: 0;
  left: 0;
  padding: 10px 20px;
  background: #1e64ba;
  color: #fff;
}

.ov {
  overflow: hidden;
}

/*타이틀*/
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: #222228;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  color: #222228;
}
h4 {
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
  color: #222228;
}

.btxt {
  font-size: 13px;
  color: #222228;
}
.stxt {
  font-size: 11px;
  color: #222228;
}

/*버튼 공통*/
.button01 {
  line-height: 20px;
  padding: 0px 11px;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.button02 {
  line-height: 30px;
  padding: 0px 11px;
  font-size: 13px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.button03 {
  line-height: 40px;
  padding: 0px 11px;
  font-size: 13px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

button.cl01 {
  background: #222228;
  color: #fff;
}
button.cl02 {
  background: #e6e6eb;
  color: #bbbbbf;
}
button.cl03 {
  background: #0ac7ce;
  color: #fff;
}
button.cl04 {
  background: #fff;
  border: 1px solid #e6e6eb;
  color: #bbbbbf;
}
button.cl05 {
  background: #fff;
  border: 1px solid #222228;
  color: #222228;
}

/* 더보기 버튼 공통*/
.list-more-btn.type01 {
  padding: 20px;
  background: #f9f9fa;
  border-top: 1px solid #e6e6eb;
  overflow: hidden;
  box-shadow: 1px 1px 3px #d8d8d8;
}
.list-more-btn.type01 a {
  font-size: 13px;
  color: #222228;
  float: right;
  padding-right: 22px;
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/list-more%402x.png)
    no-repeat right;
  background-size: 20px;
}
.list-more-btn.type01 a strong {
  padding-right: 3px;
}

.list-more-btn.type02 {
  padding: 20px;
  background: #f9f9fa;
  border-top: 1px solid #e6e6eb;
  overflow: hidden;
  box-shadow: 1px 1px 3px #d8d8d8;
}
.list-more-btn.type02 a {
  font-size: 13px;
  color: #222228;
  float: right;
  padding-right: 22px;
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Layout/list-more-refresh.png)
    no-repeat right;
}
.list-more-btn.type02 a strong {
  padding-right: 3px;
}

.list-more-btn.type03 {
  padding: 20px;
  background: #f9f9fa;
  border-top: 1px solid #e6e6eb;
  overflow: hidden;
  box-shadow: 1px 1px 3px #d8d8d8;
  text-align: center;
}
.list-more-btn.type03 a {
  font-size: 13px;
  color: #222228;
  padding-right: 22px;
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/common/list-more-down%402x.png)
    no-repeat right;
  background-size: 20px;
}
.list-more-btn.type03 a strong {
  padding-right: 3px;
}

/*레이어팝업 공통*/
.layer-pop {
  display: none;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
.layer-pop .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  transition: all 0.3s ease-out;
  z-index: -1;
}

.basic-pop {
  width: 460px;
  margin-left: -230px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.basic-pop .info {
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #e6e6eb;
}
.basic-pop .info .btxt {
  line-height: 160%;
}
.basic-pop .btns {
  font-size: 0px;
}
.basic-pop .btns a.btn-one {
  display: block;
  line-height: 80px;
  font-size: 13px;
  color: #222228;
  text-align: center;
}
.basic-pop .btns a.btn-two {
  display: inline-block;
  line-height: 80px;
  width: 228px;
  font-size: 13px;
  color: #222228;
  text-align: center;
  vertical-align: top;
}

.share-pop {
  position: relative;
  width: 460px;
  margin-left: -230px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.share-pop .info {
  padding: 40px 30px 50px 30px;
  text-align: center;
}
.share-pop .info .sns-list {
  text-align: center;
  font-size: 0px;
}
.share-pop .info .sns-list li {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 0px 10px;
}
.share-pop .info .sns-list li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.share-pop .info .sns-list li.kakao a {
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/share-kakao.png)
    no-repeat center;
}
.share-pop .info .sns-list li.twi a {
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/share-twitter.png)
    no-repeat center;
}
.share-pop .info .sns-list li.face a {
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/share-facebook.png)
    no-repeat center;
}
.share-pop .info .sns-list li.link a {
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/share-linkcopy.png)
    no-repeat center;
}
.share-pop .layer-pop-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  display: block;
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/close-btn.png)
    no-repeat center;
}

.favor-pop {
  position: relative;
  width: 460px;
  margin-left: -230px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.favor-pop .tit {
  font-size: 15px;
  color: #222228;
  font-weight: 600;
  line-height: 75px;
  border-bottom: 1px solid #e6e6eb;
  text-align: center;
}
.favor-pop .info {
  height: 300px;
  overflow-y: auto;
}
.favor-pop .info .list li {
  position: relative;
  padding: 20px 20px 20px 70px;
  border-bottom: 1px solid #e6e6eb;
}
.favor-pop .info .list li .img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
}
.favor-pop .info .list li .img img {
  width: 100%;
  height: 100%;
}
.favor-pop .info .list li .btxt {
  font-size: 13px;
  color: #222228;
}
.favor-pop .info .list li .stxt {
  font-size: 13px;
  color: #666;
}
.favor-pop .btns {
  font-size: 0px;
}
.favor-pop .btns a.btn-one {
  display: block;
  line-height: 80px;
  font-size: 13px;
  color1: #222228;
  text-align: center;
  border-top: 1px solid #e6e6eb;
}

.appli-pop {
  position: relative;
  width: 460px;
  margin-left: -230px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  text-align: center;
}
.appli-pop .info {
  padding: 30px;
  text-align: center;
}
.appli-pop .info .tit {
  font-size: 15px;
  font-weight: 600;
  color: #222228;
  line-height: 120%;
}
.appli-pop .info textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  border: 1px solid #e6e6eb;
  font-size: 15px;
  color: #bbbbbf;
  box-sizing: border-box;
}
.appli-pop .info input[type='text'] {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #e6e6eb;
  font-size: 15px;
  color: #bbbbbf;
  box-sizing: border-box;
}
.appli-pop .info .info-phone {
  text-align: left;
  margin-top: 10px;
  font-size: 13px;
}
.appli-pop .info .info-phone p {
  color: #66666e;
}
.appli-pop .appli-btn {
  border-top: 1px solid #e6e6eb;
  font-size: 13px;
  color: #222228;
  line-height: 80px;
  display: block;
}

.inqu-pop {
  position: relative;
  width: 460px;
  margin-left: -230px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.inqu-pop .tit {
  font-size: 15px;
  color: #222228;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}
.inqu-pop .info {
  padding: 0px 30px 30px 30px;
}
.inqu-pop .info textarea {
  border: 1px solid #e6e6eb;
  color: #bbbbbf;
  padding: 10px;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 10px;
}
.inqu-pop .info .btxt {
  font-size: 13px;
  color: #222228;
  display: block;
  font-weight: 600;
}
.inqu-pop .info .stxt {
  font-size: 13px;
  color: #222228;
  display: block;
}
.inqu-pop .save-btn {
  border-top: 1px solid #e6e6eb;
  font-size: 13px;
  color: #222228;
  line-height: 80px;
  display: block;
  text-align: center;
}

.modi-pop {
  position: relative;
  width: 460px;
  margin-left: -230px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.modi-pop .tit {
  font-size: 15px;
  color: #222228;
  font-weight: 600;
  height: 70px;
  padding-top: 30px;
  text-align: center;
}
.modi-pop .info {
  padding: 0px 30px 30px 30px;
}
.modi-pop .info textarea {
  border: 1px solid #e6e6eb;
  color: #bbbbbf;
  padding: 10px;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 10px;
}
.modi-pop .info .btxt {
  font-size: 13px;
  color: #222228;
  display: block;
  font-weight: 600;
}
.modi-pop .info .stxt {
  font-size: 13px;
  color: #222228;
  display: block;
}
.modi-pop .save-btn {
  border-top: 1px solid #e6e6eb;
  font-size: 13px;
  color: #222228;
  line-height: 80px;
  display: block;
  text-align: center;
}

/*인풋컨트롤*/
.chk-input input[type='text'] {
  width: 300px;
  color: #bbbbbf;
  height: 40px;
  border: 1px solid #222228;
  font-size: 15px;
  padding: 0px 10px;
  box-sizing: border-box;
  border-radius: 2px;
}
.chk-input.fill input[type='text'] {
  color: #222228;
}
.chk-input.inert input[type='text'] {
  color: #bbbbbf;
  background: #f0f0f3;
  border: 1px solid #f0f0f3;
}
.chk-input.error input[type='text'] {
  color: #222228;
  border: 1px solid #c65050;
}
.chk-input.certi input[type='text'] {
  color: #222228;
  border: 1px solid #e6e6eb;
}
.stxt.certi {
  padding-left: 20px;
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/list-chk.png)
    no-repeat left;
}

/*셀렉트박스*/
.sel-box {
  position: relative;
  text-transform: uppercase;
  height: 40px;
  width: 300px;
  z-index: 2009;
}
.sel-box a {
  display: block;
  text-align: left;
}
.sel-box .sel-btn {
  display: block;
  line-height: 40px;
  height: 40px;
  font-size: 15px;
  font-weight: 400;
  color: #222228;
  vertical-align: top;
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/more-down-r.png)
    no-repeat right;
  border: 1px solid #222228;
}
.sel-box .sel-btn span {
  padding-left: 10px;
}
.sel-box .sel-btn.active {
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/more-up-fill-r.png)
    no-repeat right;
}
.sel-box ul {
  position: Absolute;
  display: none;
  background: #fff;
  left: 50%;
  margin-left: -45%;
  top: 35px;
  width: 90%;
  height: auto;
  padding: 15px 0px;
  box-sizing: border-box;
  box-shadow: 1px 1px 7px silver;
}
.sel-box ul li a {
  padding: 0px 20px;
  font-size: 13px;
  display: block;
  line-height: 30px;
  color: #222228;
  text-align: left;
}
.sel-box ul li.active a {
  color: #fff;
  background: #0ac7ce;
}

/*스타일가이드*/
.col-defi {
  position: relative;
  padding-left: 50px;
  min-height: 40px;
  margin-bottom: 30px;
}
.col-defi .color {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  display: block;
}
.col-defi .color.cl01 {
  background: #0ac7ce;
}
.col-defi .color.cl02 {
  background: #2483ff;
}
.col-defi .color.cl03 {
  background: #222228;
}
.col-defi .color.cl04 {
  background: #66666e;
}
.col-defi .color.cl05 {
  background: #9999a0;
}
.col-defi .color.cl06 {
  background: #e6e6eb;
}
.col-defi .color.cl07 {
  background: #f0f0f3;
}
.col-defi .color.cl08 {
  background: #f9f9fa;
}
.col-defi .color.cl09 {
  background: #ffffff;
}
.col-defi .color.cl10 {
  background: #c65050;
}
.col-defi .btxt {
  font-size: 16px;
  color: #222228;
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
}
.col-defi .stxt {
  font-size: 14px;
  color: #222228;
  display: block;
}

.btn-define {
  overflow: hidden;
}
.btn-define .bunch {
  width: 56px;
}

/*체크박스 공통*/
.checks {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  color: #000;
}
.checks input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.checks input[type='checkbox'] + label {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  font-size: 15px;
  color: #333333;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
}
.checks input[type='checkbox'] + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 26px;
  height: 26px;
  border: 2px solid #e6e6eb;
  text-align: center;
  background: #fff;
}
.checks input[type='checkbox'] + label:active:before,
.checks input[type='radio']:checked + label:active:before {
}
.checks input[type='checkbox']:checked + label {
  color: #373737;
}
.checks input[type='checkbox']:checked + label:before {
  background: #fff;
  border-color: #db0632;
}
.checks input[type='checkbox']:checked + label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  background: url(../../../../s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/chk-on.png)
    no-repeat center center;
  background-size: 30px;
}
