@charset "utf-8";

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
form {
    margin: 0;
    padding: 0;
    color: #222222;
}

body {
    position: relative;
    padding-bottom: 24px;
    min-height: 100%;
    font-size: 13px;
}

.row {
    width: 960px;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .row {
        width: 100%;
        margin: 0 auto;
    }
}

.warp {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    padding: 22px 0;
    border-bottom: solid #e0e0e0 1px;
    text-align: center;
}

.container {
    width: 100%;
    padding-bottom: 24px;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 24px;
    padding-top: 5px;
    text-align: center;
    background-color: #f1f1f1;
    color: #808184;
    font-size: 13px;
}

.footer a {
    text-decoration: none;
    color: #808184;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0ac7ce;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}
.show {
    display: block;
}

.input-text {
    width: 100%;
    height: 40px;
    border: solid #d5d5d5 1px;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 10px;
}

.btn {
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    height: 40px;
    font-size: 13px;
}

.btn-black {
    background-color: #222222;
    color: #ffffff;
}

.btn-white {
    background-color: #ffffff;
    color: #222222;
    border: solid #e0e0e0 1px;
}

.btn-facebook {
    background-color: #3b5998;
    color: #ffffff;
}

.btn-facebook-white {
    background-color: #ffffff;
    color: #3b5998;
    border: solid #3b5998 1px;
}

.btn-mint {
    background-color: #0ac7ce;
    color: #ffffff;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.clear {
    clear: both;
}

.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}

.vt {
    vertical-align: top;
}
.vm {
    vertical-align: middle;
}
.vb {
    vertical-align: bottom;
}

.fs-10 {
    font-size: 10px;
}
.fs-11 {
    font-size: 11px;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-17 {
    font-size: 17px;
}
.fs-18 {
    font-size: 18px;
}
.fs-18 {
    font-size: 19px;
}
.fs-20 {
    font-size: 20px;
}

.fw-b {
    font-weight: bold;
}

.fc-mint {
    color: #0ac7ce;
}
.fc-white {
    color: #ffffff;
}
.fc-blue {
    color: #2483ff;
}
.fc-gray {
    color: #999999;
}
.fc-red {
    color: #ee4949;
}

.w90 {
    width: 90px;
}
.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
.w200 {
    width: 200px;
}
.w240 {
    width: 240px;
}
.w400 {
    width: 400px;
}

.bc-gray {
    background-color: #f9f9f9;
}
.bc-blue {
    background-color: #2483ff;
}
.bc-facebook {
    background-color: #3b5998;
}

.ba-gray {
    border: solid #e0e0e0 1px;
}
.bt-gray {
    border-top: solid #e0e0e0 1px;
}
.br-gray {
    border-right: solid #e0e0e0 1px;
}
.bb-gray {
    border-bottom: solid #e0e0e0 1px;
}
.bl-gray {
    border-left: solid #e0e0e0 1px;
}

#div_shadow {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.title {
    padding:50px 12px 25px 12px;
    font-size:20px;
    font-weight:bold;
}

.login {
    width:400px;
    margin:0 auto;
    text-align:center;
}

.checkbox { cursor:pointer; }
.checkbox .check-icon { display:inline-block; width:30px; height:30px; margin-right:4px; background:url(../../../dicons_20160930/img/common/ic-signup-chk-off.png) left center no-repeat; vertical-align:middle; transition-duration:.3s; }
.checkbox input[type=checkbox] { display:none; }
.checkbox input[type=checkbox]:checked + .check-icon { background-image:url(../../../dicons_20160930/img/common/ic-signup-chk-on.png); }

.table {
    font-size:13px;
    border-collapse: collapse;
}

.table-user {
    text-align:left;
    border-top:solid #E0E0E0 1px;
}

.table-user th {
    width:260px;
    background-color:#F9F9F9;
    border-bottom:solid #E0E0E0 1px;
    padding-left:48px;
}

.table-user td {
    width:700px;
    border-bottom:solid #E0E0E0 1px;
    padding:24px 48px;
}

.error {
    font-size:10px;
    color:#EE4949;
    display:none;
}