.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    margin-top: 20px;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e73df;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #375abb;
}