<style>
.work-sans {
	font-family: 'Work Sans', sans-serif;
}

#menu-toggle:checked+#menu {
	display: block;
}

.hover\:grow {
	transition: all 0.3s;
	transform: scale(1);
}

.hover\:grow:hover {
	transform: scale(1.02);
}

.carousel-open:checked+.carousel-item {
	position: static;
	opacity: 100;
}

.carousel-item {
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1, #carousel-2:checked ~ .control-2,
	#carousel-3:checked ~ .control-3 {
	display: block;
}

.carousel-indicators {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
	#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
	#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet
	{
	color: #000;
	/*Set to match the Tailwind colour you want the active one to be */
}
/* footer */
a {
	color: #333;
}

#level1 a {
	color: #fff;
}

#level2 a {
	margin-top: -70px;
}

#level3 span {
	display: block;
	margin-top: -70px;
	margin-left: 500px;
	font-size: 90%;
}

.fix_area {
	position: fixed;
	z-index: 9999;
	bottom: 50px;
	right: 50px;
}

.fix_area .cir_box {
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;
	color: #fff;
	border-radius: 35px;
	box-sizing: border-box;
	padding: 6px;
	font-size: 15px;
	overflow: hidden;
	box-: 1px 1px 6px #333;
}

.fix_area .totop {
	background-color: rgb(0, 154, 218);
	margin-top: 10px;
}



/* footer*/ /* 푸터 */
#footer {
	background: #fbfbfb;
	border-top: 1px solid #e7e7e7;
	position: relative;
	padding: 0 0 0 30px;
	color: #777;
	margin: 0px;
}

#footer .logo {
	display: block;
	min-width: 23px;
	min-height: 23px;
	margin: 22px 0 17px;
	background: url('로고 이미지 경로') no-repeat 0 center;
}

#footer .logo span {
	font-size: 0;
	line-height: 0;
	text-indent: -999px;
}

#footer .logo em {
	font-style: normal;
	font-size: .875em;
	padding-top: 0px;
	display: inline-block;
	padding-left: 50px;
}

#footer .utill_m {
	overflow: hidden;
	padding-bottom: 15px;
	list-style: none;
}

#footer .utill_m li {
	float: left;
	padding: 0 10px;
	font-size: 1.1em;
	letter-spacing: -.50px;
	background: url('/static2/images/common/bg_gubun07.gif') no-repeat 0 2px;
}

#footer .utill_m li a {
	color: #999;
}

#footer .utill_m li:first-child {
	background: none;
	padding-left: 0;
}

#footer p {
	color: #777;
	line-height: 20px;
}

#footer p a {
	color: #777;
}

#footer p em {
	display: inline-block;
	width: 2px;
	height: 11px;
	margin: 0 7px;
	position: relative;
	top: 2px;
	background: url('/static2/images/common/bg_gubun08.gif') no-repeat 0 0;
}
</style>