.work-sans {
	font-family: 'Work Sans', sans-serif;
}

#menu-toggle:checked+#menu {
	display: block;
}

.hover\:grow {
	transition: all 0.3s;
	transform: scale(1);
}

.hover\:grow:hover {
	transform: scale(1.02);
}

.carousel-open:checked+.carousel-item {
	position: static;
	opacity: 100;
}

.carousel-item {
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1, #carousel-2:checked ~ .control-2,
	#carousel-3:checked ~ .control-3 {
	display: block;
}

.carousel-indicators {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
	#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
	#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet
	{
	color: #000;
	/*Set to match the Tailwind colour you want the active one to be */
}
/* footer */
a {
	color: #333;
}

#level1 a {
	color: #fff;
}

#level2 a {
	margin-top: -70px;
}

#level3 span {
	display: block;
	margin-top: -70px;
	margin-left: 500px;
	font-size: 90%;
}

.fix_area {
	position: fixed;
	z-index: 9999;
	bottom: 50px;
	right: 50px;
}

.fix_area .cir_box {
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;
	color: #fff;
	border-radius: 35px;
	box-sizing: border-box;
	padding: 6px;
	font-size: 15px;
	overflow: hidden;
	box-: 1px 1px 6px #333;
}

.fix_area .totop {
	background-color: rgb(0, 154, 218);
	margin-top: 10px;
}

/* footer*/ /* 푸터 */
#footer {
	background: #fbfbfb;
	border-top: 1px solid #e7e7e7;
	position: relative;
	height: 100%;
	
	padding: 0 0 0 30px;
	color: #777;
	margin: 0px;
}

#footer .logo {
	display: flex;
	min-width: 23px;
	min-height: 23px;
	margin: 22px 0 17px;
	background: url('로고 이미지 경로') no-repeat 0 center;
}

#footer .logo span {
	font-size: 0;
	line-height: 0;
	text-indent: -999px;
}

#footer .logo em {
	font-style: normal;
	font-size: .875em;
	padding-top: 0px;
	display: inline-block;

}

#footer .utill_m {
	overflow: hidden;
	padding-bottom: 15px;
	list-style: none;
}

#footer .utill_m li {
	float: left;
	padding: 0 10px;
	font-size: 1.1em;
	letter-spacing: -.50px;
	background: url('/static2/images/common/bg_gubun07.gif') no-repeat 0 2px;
}

#footer .utill_m li a {
	color: #999;
}

#footer .utill_m li:first-child {
	background: none;
	padding-left: 0;
}

#footer p {
	color: #777;
	line-height: 20px;
}

#footer p a {
	color: #777;
}

#footer p em {
	display: inline-block;
	width: 2px;
	height: 11px;
	margin: 0 7px;
	position: relative;
	top: 2px;
	background: url('/static2/images/common/bg_gubun08.gif') no-repeat 0 0;
}

/*******검색창 옵션********/
.todo-inner {
	display: none;
	background: #fff;
	border: 1px solid rgb(241, 241, 241);
	border-top: 0;
	border-radius: 0 0 6px 6px;
	position: absolute;
	text-align: center;
	z-index: 100;
	width: 100%;
	max-width: 506px;
	min-width: 430px;
}

#todo-list {
	position: relative;
	width: 100%;
	flex-flow: column wrap;
}

.allDelete {
	padding: 12px 15px 6px;
	display: flex;
	height: calc(12px * 2 + 20px);
	align-items: center;
	justify-content: space-between;
}

#todo-list>li {
	padding: 12px 15px 6px;
	display: flex;
	height: calc(12px * 2 + 20px);
	align-items: center;
	justify-content: space-between;
}

#todo-list>li>span {
	font-size: 1em;
}


/***-----------카카오톡 공유하기 버튼--------------***/

/***-----------관리자 권한 페이지--------------***/
#requestTable{
	padding-top: 2em;
    max-width: 1080px;
    margin: 0 auto;
}

.read_wrap{
	padding-top: 1em;
    margin: 0 auto;
    max-width: 1040px;
}

.btn_wrap{
	display: flex;
    padding: 1em 0 2em 0;
    margin: 0 auto;
    justify-content: space-between;
}
#backToList{
	color: #fff;
	background: rgb(25, 183, 194);
}
#deleteBtn{
	color: #fff;
    background-color: #e74a3b;

}

#kakao-link-btn{position: absolute;
    right: 1.3em;
    bottom: 2em;}