@charset "UTF-8";

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  height: 100vh;
}

.restaurant_profile {
  margin: 0 20%;
}

.item {
	margin: 5px;
}

.section-title {
	width: 100%;
}

.test{
	width : 100%;
	border-bottom: 2px solid #808080;
	border-right: 2px solid #808080;
	border-radius: 10px;
	padding: 20px;
	margin-right: 10%;
	margin-bottom: 30px;
}

.test2{
	width : 100%;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 8px solid #c0c0c0;
	border-right: 8px solid #c0c0c0;
	border-radius: 10px;
	padding: 20px;
	margin-right: 10%;
	margin-bottom: 30px;
}

/* 공통 스타일 */
.delete_button, .modify_button, .riew_button {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.3s;
}

/* 삭제 버튼 스타일 */
.delete_button {
  background-color: #ff5c5c;
  color: white;
}

.delete_button:hover {
  background-color: #e62929;
}

/* 수정 버튼 스타일 */
.modify_button {
  background-color: #5c9aff;
  color: white;
}

.modify_button:hover {
  background-color: #2a71e6;
}


 /* Customize the nav buttons size and layout */
.custom-nav {
	color: rgba(0, 0, 0, 0);
    opacity: 0; 
    transition: opacity 0.3s; 
    font-size: 100px;
    position: absolute;
    top: calc(50% - 30px); /* Center the buttons vertically */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 10%; /* 테두리 둥글게 */
    background-color: transparent; /* 배경색 투명 */
    width: 30px; /* 너비 조정 */
    height: 30px; /* 높이 조정 */
    justify-content: center; /* 내용 가운데 정렬 (수평) */
    align-items: center; /* 내용 가운데 정렬 (수직) */
    display: flex; /* 내용을 일정하게 정렬하고 싶으면 이 줄 추가 */
    border: 1px solid transparent;
}

.custom-nav:hover {
    color: rgba(0, 0, 0, 0.3); /* 마우스 오버 시 폰트 색상 70% 투명 */
    opacity: 1; /* 마우스 오버 시 투명도 원래 상태로 되돌림 */
}

.custom-prev {
    left: 0px; /* Change the left position value of the left button */
    height: 25%;
}

.custom-next {
    right: 0px; /* Change the right position value of the right button */
    height: 25%;
}


.profile-slider {
  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
  overflow: hidden;
  height: auto;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.slider-container img {
  flex-basis: calc(33.333% - 10px);
  height: auto;
  object-fit: cover;
  margin: 0 5px 10px;
  height: 300px;
}

.restaurant_poto_slider{
	margin-bottom: 50px;
}

#map-container * {
	border-radius: 20px;
	height: 100%;
	width: 100%;
	padding: 0%;
}
.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 100px;
}


.adress {
	margin: 50px auto;
}

.number{
	margin: 50px auto;
}

.restaurant_menu{
	margin: 50px auto;
}

.wishlist-text {
   margin-right: 20px;
}

.wishlist-button {
	height: auto;
	margin: auto;
    border-radius: 10px; 
    background-color: transparent;
    border: 1px solid pink; /* 테두리색 설정 */
    color: deeppink; /* 글자색 설정 */
    transition: background-color 0.3s, color 03s; /* 버튼 색상변경 효과 */
}

.wishlist-button:hover {
    background-color: pink; /* 마우스 오버 시 배경색 변경 */
    color: white; /* 마우스 오버 시 글자색 변경 */
}




/* 위시리스트 css */
.block{
	margin: 0 20%;
}
#wishListTable{
	margin: 5% 0%;
	border: 2px solid #D3D3D3;
	border-radius: 20px;
	padding: 20px;
}

.for_wishlist{
	width : 100%;
	border-bottom: 2px solid #808080;
	border-right: 2px solid #808080;
	border-radius: 10px;
	padding: 20px;
	margin-right: 10%;
	margin-bottom: 30px;
}


.restaurantTitle {
    font-weight: bold;
    font-size: larger;
    margin: 10px;
}

.wishlistDelete{
	text-align: right;
}
/*  */


.write_review {
	border: 2px solid #D3D3D3;
	border-radius: 20px;
	padding: 20px;
}

.content_block{
	width: 100%;
}

#reviewContent{
	width: 100%;
	height: auto;
	border: 1px solid;
	border-radius: 5px;
}

.button_box{
text-align: right;
margin-right: 10px;
}

.emptyWishList{
padding:70px;
height: 200px;
text-align: center;
}















.reviews_part{
	margin-bottom: 20%;	
}

#myform fieldset{
    display: inline-block;
    direction: rtl;
    border:0;    
    padding-bottom: 5%;
}
#myform fieldset legend{
    text-align: right;
}
#myform input[type=radio]{
    display: none;
}
#myform label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#myform label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}


.reviews-header {
    height: 100px;
    border-radius: 20px 20px 0 0;
    width: 100% !important;  	
    background-color: rgb(226, 226, 226);
    padding-left: 2%  !important;
    padding-right: 10% !important;
    padding-top: 10% !important;
    padding-bottom : 8% !important;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.reviews-bottom {
   margin-bottom: 10% !important;
}

.profile-picture {
    margin-top: 10px;
    margin-left: 10px;
    margin: 15px;
    width: 30%;
    height: 30%;
    border-radius : 100%;
    margin-right: auto; 
}

.review-image {
    margin-top: 2%;
    margin-right: 5%; 
    margin-bottom: 8%;
    width: 25%;
    height: 10%;
}

/*  리뷰 상자 오른쪽 레이아웃을 제어하기. */
.reviews-top-right {
    display: flex;
    margin-right: 10px;
}

.review1{
	border: solid 1.5px #D3D3D3;
	height: 300px;
	border-radius: 0 0 20px 20px;
  	width: 100% !important;
	background-color: rgb(264, 264, 264);
	margin-left: 10% 10% !important;
}

#review-writeContents {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius : 20px 20px 20px 10px;
    font-size: 16px;
    resize: none;
}

#reviewContents{
	width: 100%;
    height: auto;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius : 0 0 20px 20px;
    font-size: 16px;
    resize: none;
}


/* 파일 첨부 버튼 스타일 */
#uproad_button {
    float: left; 
    margin-top: 10px; 
    border-radius: 10px;
}

/* 리뷰 작성 버튼 스타일 */
#review_button {
    float: right; 
    margin-top: 15px; 
    border-radius: 10px;
}

/* 클리어 픽스 클래스 추가 */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 리뷰(코멘트)css start */
.score_box .fas {
	color: gold;
}

.comment .fas {
	color: gold;
}

.main .comment .score_info {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 15px;
	display: flex;
	justify-content: space-around;
}

.main .comment .score_info .score {
	font-size: 4.5rem;
	font-weight: bold;
	text-align: center;
}

.main .comment .score_info i {
	font-size: 1.4rem;
}

.main .comment .score_count {
	font-size: 1.4rem;
}

.main .comment .score_count>div {
	display: flex;
	justify-content: space-between;
	width: 150px;
}

.main .comment .score_info .score_count>div div:first-child {
	font-weight: bold;
}

.main .comment .score_count .graph_box {
	position: relative;
	width: 100px;
}

.main .comment .score_count .graph_box div {
	width: 100%;
	height: 5px;
	background: #ddd;
	border-radius: 5px;
	position: absolute;
	top: 40%;
}

.main .comment .score_info .score_count .review_count {
	color: #999999;
	text-align: left;
	width: 0px;
}

.main .comment .boss_comment {
	margin-bottom: 10px;
}

.main .comment li {
	border-radius: 10px;
	width: 100%;
	margin: 15px auto 30px;
	font-size: 1.8rem;
}

.main .comment li .nickname {
	font-weight: bold;
}

.main .comment li .client {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 15px;
}

.review_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.review_header div div:last-child {
	font-size: 1.4rem;
}

.main .comment li .boss_comment_box {
	background: #ddd;
	width: 90%;
	border-radius: 10px;
	padding: 15px;
	position: relative;
	left: 6%;
	margin-top: 15px;
}

.review_btn, .boss_comment_btn {
	background: #fff;
	border-radius: 5px;
	padding: 5px;
}


.review_img {
	width: 30%;
	border-radius: 10px;
	cursor: pointer;
}

.create_date{
	text-align: right;
	font-size: 20px;	
}

.review_contents{
	margin-top: 30px;
}
/* 리뷰(코멘트)css end */


.login_body{
	margin: 10% 30%
}

.login_title{
	margin: 10px;
	padding: 3px;
}
.D_button_div{
	text-align:center;
}
.D_button{
	font-weight: bold;
	margin-top: 10px;
	width: 40%;
	height: 60px;
	text-align:center;
	font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.3s;
   background-color: #ff5c5c;
  color: white;
}