<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.SearchMapper">

	<!-- 최근 검색어를 search 테이블에 저장 -->
	<insert id="insertSearchKeyword">
		insert into search(search_id, search_keyword) values(search_sq.nextval, #{searchKeyword})
	</insert>

	<delete id="deleteSearchKeyword">
		DELETE FROM search WHERE search_id = #{searchId}
	</delete>

	<delete id="deleteAll">
		DELETE FROM search
	</delete>

	<select id="getRecentSearchKeywords"
		resultType="com.project.domain.SearchDTO">
		SELECT search_keyword, search_date
		FROM search
		ORDER BY search_date DESC
	</select>
</mapper>