<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.WishListMapper">
	
  <!-- 위시리스트 추가 -->
  <insert id="insert">
    INSERT INTO wishlist (userid, restaurant_id)
    VALUES (#{userId}, #{restaurantId})
  </insert>

  <!-- 위시리스트 보여주기 -->
  <select id="getWishList" resultType="com.project.domain.WishListDTO">
	SELECT users.userid, restaurant.restaurant_id, restaurant.title,
	restaurant.address, restaurant.review_count, restaurant.wishlist_count
	FROM wishlist
	JOIN users ON wishlist.userid = users.userid
	JOIN restaurant ON wishlist.restaurant_id = restaurant.restaurant_id
	where wishlist.userid = #{userid}
  </select>

  <!-- 위시리스트 삭제하기 -->
  <delete id="delete">
    DELETE FROM wishlist
    WHERE userid = #{userId} AND restaurant_id = #{restaurantId}
  </delete>
	
  <!-- 위시리스트 개수 카운트하기 -->
  <select id="countWishList" resultType="int">
    SELECT count(*) from wishlist where restaurant_id = #{restauantId}
  </select>
	

</mapper>